<!-- <app-employee></app-employee> -->


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vavve</title>

   </head>

  <body>

    <br>
<h2>{{title}}</h2>
<br>
 <div class="form-group" style="border:2px solid;padding: 10px" >
        <label for="name">Select Number Range</label>
        <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" 
                              [settings]="settings" 
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)" 
                              (onSelectAll)="onSelectAll($event)" 
                              (onDeSelectAll)="onDeSelectAll($event)" name="itemName">
        </angular2-multiselect>
        <button (click)="onSubmitFun()">Submit</button>

      </div>
   
<br><br>

 <div class="form-group" style="border:2px solid;padding: 10px" >
      <label for="name">Selected   Range</label>
      <angular2-multiselect [data]="saveSelectIten" [(ngModel)]="saveSelectIten" 
                            [settings]="settings" 
                            (onSelect)="onItemSelect2($event)"
                            (onDeSelect)="OnItemDeSelect2($event)" 
                            (onSelectAll)="onSelectAll2($event)" 
                            (onDeSelectAll)="onDeSelectAll2($event)">
      </angular2-multiselect>
      <button type="submit" (click)="submitSecond()">Submit</button> 
    </div>
  
    
 
  </body>
</html>
